# Generated by `pnpm --filter console openapi:gen` — do not edit by hand.
openapi: 3.1.0
info:
  title: Tokener.ai Console Management API
  version: 0.1.0
  description: Token-authenticated management surface for the Tokener.ai console.
    Mirrors the console BFF (keys, billing, usage, models) but authenticates
    with a management personal access token (PAT) instead of a browser session,
    so it can back a CLI and agent tooling. It is not the LLM data plane
    (Gateway) and not the LiteLLM Admin API.
servers:
  - url: https://console.tokener.ai
    description: Production console
  - url: http://localhost:3000
    description: Local development console
security:
  - managementToken: []
tags:
  - name: identity
    description: Resolve the user, organization, token name, and email-verification
      state behind the presented management token.
  - name: keys
    description: "Manage Tokener.ai API keys for the caller's organization: list
      them with 30-day spend, create them, replace their
      budget/rate/model/expiry limits, enable or disable them, and revoke them."
  - name: billing
    description: "Read the organization's prepaid credit state: available balance
      projection, append-only ledger entries, and credit purchase history."
  - name: usage
    description: "Read the organization's usage over a 7- or 30-day range: totals,
      per-day series with per-model segments, and aggregates by model."
  - name: models
    description: List the public managed model catalog, including the models and
      pricing metadata available to the caller's organization.
paths:
  /api/v1/whoami:
    get:
      operationId: whoami
      tags:
        - identity
      summary: Resolve the caller identity for the presented management token
      responses:
        "200":
          description: Token is valid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WhoAmI"
        "401":
          description: Missing or invalid management token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/keys:
    get:
      operationId: list
      tags:
        - keys
      summary: List Tokener.ai API keys with 30-day spend
      responses:
        "200":
          description: Keys for the caller's organization
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KeyListResponse"
        "401":
          description: Missing or invalid management token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      operationId: create
      tags:
        - keys
      summary: Create a Tokener.ai API key (returns the plaintext secret once)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateKeyRequest"
      responses:
        "202":
          description: Key created; plaintext secret returned once
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateKeyResult"
        "400":
          description: Invalid request body or query
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid management token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: The caller's email is not verified
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/keys/{id}/limits:
    patch:
      operationId: updateLimits
      tags:
        - keys
      summary: Replace budget, rate, model, and expiry limits for a key (full
        replacement; omitted/null fields are cleared)
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KeyLimitsInput"
      responses:
        "200":
          description: Applied and synced
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KeyRecordEnvelope"
        "202":
          description: Accepted; LiteLLM sync pending
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KeyRecordEnvelope"
        "400":
          description: Invalid request body or query
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid management token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/keys/{id}/revoke:
    post:
      operationId: revoke
      tags:
        - keys
      summary: Revoke a key permanently
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
      responses:
        "200":
          description: Applied and synced
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KeyRecordEnvelope"
        "202":
          description: Accepted; LiteLLM sync pending
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KeyRecordEnvelope"
        "400":
          description: Invalid request body or query
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid management token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/keys/{id}/status:
    post:
      operationId: setStatus
      tags:
        - keys
      summary: Enable or disable a key
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetKeyStatusRequest"
      responses:
        "200":
          description: Applied and synced
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KeyRecordEnvelope"
        "202":
          description: Accepted; LiteLLM sync pending
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KeyRecordEnvelope"
        "400":
          description: Invalid request body or query
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid management token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/billing/balance:
    get:
      operationId: balance
      tags:
        - billing
      summary: Get the organization's available credit balance
      responses:
        "200":
          description: Wallet balance projection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Balance"
        "401":
          description: Missing or invalid management token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/billing/ledger:
    get:
      operationId: ledger
      tags:
        - billing
      summary: List append-only ledger entries (paginated)
      parameters:
        - in: query
          name: cursor
          schema:
            type: string
            minLength: 1
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: Ledger page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LedgerPage"
        "400":
          description: Invalid request body or query
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid management token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/billing/purchases:
    get:
      operationId: purchases
      tags:
        - billing
      summary: List credit purchases (paginated)
      parameters:
        - in: query
          name: cursor
          schema:
            type: string
            minLength: 1
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: Purchases page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PurchasePage"
        "400":
          description: Invalid request body or query
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid management token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/usage/summary:
    get:
      operationId: summary
      tags:
        - usage
      summary: Get usage totals for a time range
      parameters:
        - in: query
          name: range
          schema:
            default: "7"
            type: string
            enum:
              - "7"
              - "30"
      responses:
        "200":
          description: Usage summary
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageSummaryResponse"
        "400":
          description: Invalid request body or query
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid management token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/usage/series:
    get:
      operationId: series
      tags:
        - usage
      summary: Get per-day usage points with per-model segments
      parameters:
        - in: query
          name: range
          schema:
            default: "7"
            type: string
            enum:
              - "7"
              - "30"
      responses:
        "200":
          description: Usage series
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageSeriesResponse"
        "400":
          description: Invalid request body or query
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid management token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/usage/breakdown:
    get:
      operationId: breakdown
      tags:
        - usage
      summary: Get usage aggregated by model
      parameters:
        - in: query
          name: range
          schema:
            default: "7"
            type: string
            enum:
              - "7"
              - "30"
        - in: query
          name: by
          schema:
            default: model
            type: string
            enum:
              - model
      responses:
        "200":
          description: Usage breakdown
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageBreakdownResponse"
        "400":
          description: Invalid request body or query
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid management token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/models:
    get:
      operationId: catalog
      tags:
        - models
      summary: List the public managed model catalog
      responses:
        "200":
          description: Enabled public models
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModelListResponse"
        "401":
          description: Missing or invalid management token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  schemas:
    CreateKeyRequest:
      type: object
      properties:
        name:
          type: string
          maxLength: 64
        limits:
          $ref: "#/components/schemas/KeyLimitsInput"
    KeyLimitsInput:
      type: object
      properties:
        maxBudgetUsd:
          anyOf:
            - type: number
              minimum: 0
            - type: "null"
        budgetDuration:
          anyOf:
            - type: string
              enum:
                - daily
                - weekly
                - monthly
            - type: "null"
        rpmLimit:
          anyOf:
            - type: integer
              exclusiveMinimum: 0
              maximum: 2147483647
            - type: "null"
        tpmLimit:
          anyOf:
            - type: integer
              exclusiveMinimum: 0
              maximum: 2147483647
            - type: "null"
        maxParallelRequests:
          anyOf:
            - type: integer
              exclusiveMinimum: 0
              maximum: 2147483647
            - type: "null"
        allowedModels:
          anyOf:
            - type: array
              items:
                type: string
            - type: "null"
        expiresAt:
          anyOf:
            - type: string
              format: date-time
              pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
            - type: "null"
      description: Full replacement of the key's limits — this is not a partial patch.
        Every field is optional, but any field omitted or set to null is CLEARED
        (unlimited / no expiry), not left unchanged. Always send the complete
        desired limit set.
    SetKeyStatusRequest:
      type: object
      properties:
        status:
          type: string
          enum:
            - active
            - disabled
      required:
        - status
    WhoAmI:
      type: object
      properties:
        userId:
          type: string
        email:
          type: string
        organizationId:
          type: string
        emailVerified:
          type: boolean
        tokenName:
          type: string
      required:
        - userId
        - organizationId
        - emailVerified
      additionalProperties: false
    Error:
      type: object
      properties:
        error:
          type: string
          description: Stable machine-readable error code.
      required:
        - error
      additionalProperties: false
    KeyListResponse:
      type: object
      properties:
        connected:
          type: boolean
        keys:
          type: array
          items:
            $ref: "#/components/schemas/EnrichedKey"
      required:
        - connected
        - keys
      additionalProperties: false
    EnrichedKey:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        prefix:
          type: string
        createdAt:
          type: string
          format: date-time
          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
        lastUsedAt:
          anyOf:
            - type: string
              format: date-time
              pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
            - type: "null"
        status:
          type: string
          enum:
            - active
            - disabled
            - revoked
        syncPending:
          type: boolean
        limits:
          $ref: "#/components/schemas/KeyLimits"
        spend30d:
          type: string
          description: Amount in micro-USD (1e-6 USD) serialized as a decimal string.
      required:
        - id
        - name
        - prefix
        - createdAt
        - lastUsedAt
        - status
        - syncPending
        - limits
        - spend30d
      additionalProperties: false
    KeyLimits:
      type: object
      properties:
        maxBudgetUsdMicro:
          anyOf:
            - type: string
              description: Amount in micro-USD (1e-6 USD) serialized as a decimal string.
            - type: "null"
        budgetDuration:
          anyOf:
            - type: string
              enum:
                - daily
                - weekly
                - monthly
            - type: "null"
        rpmLimit:
          anyOf:
            - type: integer
              minimum: -9007199254740991
              maximum: 9007199254740991
            - type: "null"
        tpmLimit:
          anyOf:
            - type: integer
              minimum: -9007199254740991
              maximum: 9007199254740991
            - type: "null"
        maxParallelRequests:
          anyOf:
            - type: integer
              minimum: -9007199254740991
              maximum: 9007199254740991
            - type: "null"
        allowedModels:
          anyOf:
            - type: array
              items:
                type: string
            - type: "null"
        expiresAt:
          anyOf:
            - type: string
              format: date-time
              pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
            - type: "null"
      required:
        - maxBudgetUsdMicro
        - budgetDuration
        - rpmLimit
        - tpmLimit
        - maxParallelRequests
        - allowedModels
        - expiresAt
      additionalProperties: false
    CreateKeyResult:
      type: object
      properties:
        key:
          type: string
          description: Plaintext secret (sk-...). Shown once.
        record:
          $ref: "#/components/schemas/KeyRecord"
      required:
        - key
        - record
      additionalProperties: false
    KeyRecord:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        prefix:
          type: string
        createdAt:
          type: string
          format: date-time
          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
        lastUsedAt:
          anyOf:
            - type: string
              format: date-time
              pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
            - type: "null"
        status:
          type: string
          enum:
            - active
            - disabled
            - revoked
        syncPending:
          type: boolean
        limits:
          $ref: "#/components/schemas/KeyLimits"
      required:
        - id
        - name
        - prefix
        - createdAt
        - lastUsedAt
        - status
        - syncPending
        - limits
      additionalProperties: false
    KeyRecordEnvelope:
      type: object
      properties:
        record:
          $ref: "#/components/schemas/KeyRecord"
      required:
        - record
      additionalProperties: false
    Balance:
      type: object
      properties:
        availableUsdMicro:
          type: string
          description: Amount in micro-USD (1e-6 USD) serialized as a decimal string.
        status:
          type: string
        updatedAt:
          anyOf:
            - type: string
              format: date-time
              pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
            - type: "null"
      required:
        - availableUsdMicro
        - status
        - updatedAt
      additionalProperties: false
    LedgerPage:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/LedgerEntry"
        nextCursor:
          anyOf:
            - type: string
            - type: "null"
      required:
        - items
        - nextCursor
      additionalProperties: false
    LedgerEntry:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
            - purchase
            - spend
            - adjustment
            - refund
            - dispute_reversal
            - reversal
        amountUsdMicro:
          type: string
          description: Amount in micro-USD (1e-6 USD) serialized as a decimal string.
        sourceType:
          type: string
        description:
          anyOf:
            - type: string
            - type: "null"
        occurredAt:
          type: string
          format: date-time
          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
      required:
        - id
        - type
        - amountUsdMicro
        - sourceType
        - description
        - occurredAt
      additionalProperties: false
    PurchasePage:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Purchase"
        nextCursor:
          anyOf:
            - type: string
            - type: "null"
      required:
        - items
        - nextCursor
      additionalProperties: false
    Purchase:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
          enum:
            - created
            - checkout_created
            - paid
            - failed
            - expired
            - refunded
            - partially_refunded
            - disputed
        amountCents:
          type: integer
          minimum: -9007199254740991
          maximum: 9007199254740991
        currency:
          type: string
        creditAmountUsdMicro:
          type: string
          description: Amount in micro-USD (1e-6 USD) serialized as a decimal string.
        invoiceUrl:
          anyOf:
            - type: string
            - type: "null"
        receiptUrl:
          anyOf:
            - type: string
            - type: "null"
        createdAt:
          type: string
          format: date-time
          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
      required:
        - id
        - status
        - amountCents
        - currency
        - creditAmountUsdMicro
        - invoiceUrl
        - receiptUrl
        - createdAt
      additionalProperties: false
    UsageSummaryResponse:
      type: object
      properties:
        connected:
          type: boolean
        summary:
          $ref: "#/components/schemas/UsageSummary"
      required:
        - connected
        - summary
      additionalProperties: false
    UsageSummary:
      type: object
      properties:
        requests:
          type: integer
          minimum: -9007199254740991
          maximum: 9007199254740991
        tokens:
          type: integer
          minimum: -9007199254740991
          maximum: 9007199254740991
        spendUsdMicro:
          type: string
          description: Amount in micro-USD (1e-6 USD) serialized as a decimal string.
      required:
        - requests
        - tokens
        - spendUsdMicro
      additionalProperties: false
    UsageSeriesResponse:
      type: object
      properties:
        connected:
          type: boolean
        points:
          type: array
          items:
            $ref: "#/components/schemas/UsageSeriesPoint"
      required:
        - connected
        - points
      additionalProperties: false
    UsageSeriesPoint:
      type: object
      properties:
        day:
          type: string
        requests:
          type: integer
          minimum: -9007199254740991
          maximum: 9007199254740991
        tokens:
          type: integer
          minimum: -9007199254740991
          maximum: 9007199254740991
        spendUsdMicro:
          type: string
          description: Amount in micro-USD (1e-6 USD) serialized as a decimal string.
        segments:
          type: array
          items:
            $ref: "#/components/schemas/UsageSeriesSegment"
      required:
        - day
        - requests
        - tokens
        - spendUsdMicro
        - segments
      additionalProperties: false
    UsageSeriesSegment:
      type: object
      properties:
        key:
          type: string
          description: Model id, or "other" for the bucketed remainder.
        requests:
          type: integer
          minimum: -9007199254740991
          maximum: 9007199254740991
      required:
        - key
        - requests
      additionalProperties: false
    UsageBreakdownResponse:
      type: object
      properties:
        connected:
          type: boolean
        by:
          type: string
          const: model
        rows:
          type: array
          items:
            $ref: "#/components/schemas/UsageBreakdownRow"
      required:
        - connected
        - by
        - rows
      additionalProperties: false
    UsageBreakdownRow:
      type: object
      properties:
        key:
          type: string
          description: Model id.
        requests:
          type: integer
          minimum: -9007199254740991
          maximum: 9007199254740991
        tokens:
          type: integer
          minimum: -9007199254740991
          maximum: 9007199254740991
        spendUsdMicro:
          type: string
          description: Amount in micro-USD (1e-6 USD) serialized as a decimal string.
      required:
        - key
        - requests
        - tokens
        - spendUsdMicro
      additionalProperties: false
    ModelListResponse:
      type: object
      properties:
        connected:
          type: boolean
        models:
          type: array
          items:
            $ref: "#/components/schemas/CatalogModel"
      required:
        - connected
        - models
      additionalProperties: false
    CatalogModel:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        provider:
          type: string
        category:
          type: string
          enum:
            - chat
            - reasoning
            - embedding
        context:
          type: string
        inputPer1m:
          type: string
        cachePer1m:
          type: string
        outputPer1m:
          type: string
        status:
          type: string
          enum:
            - available
            - unavailable
      required:
        - id
        - name
        - provider
        - category
        - context
        - inputPer1m
        - cachePer1m
        - outputPer1m
        - status
      additionalProperties: false
  securitySchemes:
    managementToken:
      type: http
      scheme: bearer
      description: Tokener.ai management personal access token (prefix `tkr_pat_`).
        Distinct from Tokener.ai API keys, which authenticate LLM traffic at the
        Gateway and must not be used here.
